<div class="container">
  <div class="row">
    <div *ngIf="currentStage == 1">
      <h4>The story so far...</h4>
      <table class="u-full-width">
        <thead>
          <tr>
            <th>Character</th>
            <th>Is doing...</th>
            <th>Wearing</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><img src="assets/images/spiderman.jpg"></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="currentStage == 2">
      <h4>The story so far...</h4>
      <table class="u-full-width">
        <thead>
          <tr>
            <th>Character</th>
            <th>Is doing...</th>
            <th>Wearing</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><img src="assets/images/spiderman.jpg"></td>
            <td><img src="assets/images/spiderman.jpg"></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="currentStage == 3">
      <h4>The story so far...</h4>
      <table class="u-full-width">
        <thead>
          <tr>
            <th>Character</th>
            <th>Is doing...</th>
            <th>Wearing</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><img src="assets/images/spiderman.jpg"></td>
            <td><img src="assets/images/spiderman.jpg"></td>
            <td><img src="assets/images/spiderman.jpg"></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="eight columns">
      {{ currentTitle }}

      <div *ngIf="currentCategory; else successfulLogin">
        <ul>
          <li *ngFor="let item of currentCategory">
            <figcaption>{{item.name}}</figcaption>
           <img (click)="clickItem()" src={{item.img}}/>
         </li>
        </ul>
      </div>

      <ng-template #successfulLogin>
        <div>success</div>
      </ng-template>
    </div>
  </div>
</div>

