
img {
  height: 70px;
  border-radius: 25px;
  display: inline-block;
}

figure {
  display: inline-block;
  margin-bottom: auto;
}

figure img {
  vertical-align: top;
  height: 70px;
  border-radius: 25px;
  cursor: pointer;

}

figure img:hover {
  transform: scale(1.1);
}

figure figcaption {
  text-align: center;
  color: #640081;
  font-family: 'Oswald', sans-serif;
  font-size: medium;
}

.story {
  font-family: 'Oswald', sans-serif;
}

.story-bits {
  font-family: 'Oswald', sans-serif;
}

.title {
  text-align: center;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  font-size: large;
  color: #E62886;
}

ul {
  columns: 2;
}

li {
  list-style-type: none;
}

#popjam-logo {
  width: 170px;
  height: 65px;
  position: absolute;
  left: 50%;
  top: 12px;
  margin-left: -85px;
  background-image: url(popjam-header.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.top-nav {
  min-height: 90px; 
  background-color: #090a0f;
  color: #fff;
  margin: 0;
  margin-bottom: 40px;
  padding-top: 7.5px;
  padding: 0;
}

.story-container {
  display: flex;
  justify-content: center;
  margin-right: auto;
  border: 10px solid;
}

.story-part {
  width: 150px;
}

.purple {
  color: #640081;
}

.button.button-primary {
  background-color: #E62886;
  border-color: #E62886;
}

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
