
img {
  height: 70px;
  border-radius: 25px;
  display: inline-block;
}

figure {
  display: inline-block;
  margin-bottom: auto;
}
figure img {
  vertical-align: top;
  height: 70px;
  border-radius: 25px;
}
figure figcaption {
  text-align: center;
}

.img-title {
  text-align: center;
}

.title {
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  font-size: large;
  color: #E62886;
}

ul {
  columns: 3;
}

li {
  list-style-type: none;
  font-family: 'Oswald', sans-serif;
  font-size: medium;
  color: #00A2DE;
}

#popjam-logo {
  width: 170px;
  height: 65px;
  position: absolute;
  left: 50%;
  top: 12px;
  margin-left: -85px;
  background-image: url(popjam-header.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.top-nav {
  min-height: 90px; 
  background-color: #090a0f;
  color: #fff;
  margin: 0;
  margin-bottom: 40px;
  padding-top: 7.5px;
  padding: 0;
}